PORT=5001
MONGODB_URI=fillmongodb_url-here
JWT_SECRET=fillpassword

GEMINI_API_KEY=fillyourkeyhere

EMAIL_USER=mysterhuy@gmail.com   # (Thay bằng email của bạn)
EMAIL_PASS=qvml umlr lnxy hfic       # (Dán cái mã 16 chữ cái vừa copy ở Bước 1 vào đây, dính liền không khoảng trắng)
CLIENT_URL=http://localhost:3000
